.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 95%;
}

body {
    font-family: 'lato', sans-serif;
}

.header1 {
    flex-basis: 36%;
    padding-left: 30px;
}

.header2 {
    flex-basis: 16%;
}

.header3 {
    flex-basis: 14%;
}

.header4 {
    flex-basis: 30%;
}

.headerRow {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
}

.contentRows {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.col1 {
    flex-basis: 40%;
}

.col2 {
    flex-basis: 15%;
}

.col3 {
    flex-basis: 15%;
}

.col4 {
    flex-basis: 30%;
}

.tableButton {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    height: 45px;
    width: 70px;
    background-color: lightblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.tableButton:hover {
    background-color: cornflowerblue;
}